.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 1.56rem;

  background-image: url("./assets/img/icons.png");
  border: 2px solid white;
  border-radius: 1.2rem;
}

.icon-1-1 {
  background-position: -32px -192px;

  @extend .icon;
}

.icon-1-2 {
  background-position: -108px -192px;

  @extend .icon;
}

.icon-1-3 {
  background-position: -184px -193px;

  @extend .icon;
}

.icon-1-4 {
  background-position: -261px -192px;

  @extend .icon;
}

.icon-1-5 {
  background-position: -338px -193px;

  @extend .icon;
}

.icon-1-6 {
  background-position: -412px -192px;

  @extend .icon;
}

.icon-1-7 {
  background-position: -491px -192px;

  @extend .icon;
}

.icon-1-8 {
  background-position: -567px -192px;

  @extend .icon;
}

.icon-1-9 {
  background-position: -644px -192px;

  @extend .icon;
}

.icon-1-10 {
  background-position: -33px -535px;

  @extend .icon;
}

.icon-1-11 {
  background-position: -109px -535px;

  @extend .icon;
}

.icon-1-12 {
  background-position: -185px -535px;

  @extend .icon;
}

.icon-1-13 {
  background-position: -261px -535px;

  @extend .icon;
}

.icon-1-14 {
  background-position: -340px -535px;

  @extend .icon;
}

.icon-1-15 {
  background-position: -416px -535px;

  @extend .icon;
}

.icon-1-16 {
  background-position: -492px -535px;

  @extend .icon;
}

.icon-1-17 {
  background-position: -569px -534px;

  @extend .icon;
}

.icon-1-18 {
  background-position: -644px -535px;

  @extend .icon;
}

.icon-2-1 {
  background-position: -32px -277px;

  @extend .icon;
}

.icon-2-2 {
  background-position: -106px -277px;

  @extend .icon;
}

.icon-2-3 {
  background-position: -182px -278px;

  @extend .icon;
}

.icon-2-4 {
  background-position: -261px -277px;

  @extend .icon;
}

.icon-2-5 {
  background-position: -336px -277px;

  @extend .icon;
}

.icon-2-6 {
  background-position: -414px -277px;

  @extend .icon;
}

.icon-2-7 {
  background-position: -491px -277px;

  @extend .icon;
}

.icon-2-8 {
  background-position: -567px -277px;

  @extend .icon;
}

.icon-2-9 {
  background-position: -644px -277px;

  @extend .icon;
}

.icon-2-10 {
  background-position: -32px -620px;

  @extend .icon;
}

.icon-2-11 {
  background-position: -109px -620px;

  @extend .icon;
}

.icon-2-12 {
  background-position: -185px -620px;

  @extend .icon;
}

.icon-2-13 {
  background-position: -263px -620px;

  @extend .icon;
}

.icon-2-14 {
  background-position: -340px -620px;

  @extend .icon;
}

.icon-2-15 {
  background-position: -416px -620px;

  @extend .icon;
}

.icon-2-16 {
  background-position: -492px -620px;

  @extend .icon;
}

.icon-2-17 {
  background-position: -569px -620px;

  @extend .icon;
}

.icon-2-18 {
  background-position: -644px -620px;

  @extend .icon;
}

.icon-3-1 {
  background-position: -32px -23px;

  @extend .icon;
}

.icon-3-2 {
  background-position: -108px -22px;

  @extend .icon;
}

.icon-3-3 {
  background-position: -184px -23px;

  @extend .icon;
}

.icon-3-4 {
  background-position: -262px -23px;

  @extend .icon;
}

.icon-3-5 {
  background-position: -338px -23px;

  @extend .icon;
}

.icon-3-6 {
  background-position: -414px -23px;

  @extend .icon;
}

.icon-3-7 {
  background-position: -491px -23px;

  @extend .icon;
}

.icon-3-8 {
  background-position: -567px -23px;

  @extend .icon;
}

.icon-3-9 {
  background-position: -644px -23px;

  @extend .icon;
}

.icon-3-10 {
  background-position: -33px -366px;

  @extend .icon;
}

.icon-3-11 {
  background-position: -109px -366px;

  @extend .icon;
}

.icon-3-12 {
  background-position: -185px -366px;

  @extend .icon;
}

.icon-3-13 {
  background-position: -261px -366px;

  @extend .icon;
}

.icon-3-14 {
  background-position: -340px -366px;

  @extend .icon;
}

.icon-3-15 {
  background-position: -416px -366px;

  @extend .icon;
}

.icon-3-16 {
  background-position: -492px -366px;

  @extend .icon;
}

.icon-3-17 {
  background-position: -569px -366px;

  @extend .icon;
}

.icon-3-18 {
  background-position: -644px -366px;

  @extend .icon;
}

.icon-4-1 {
  background-position: -32px -107px;

  @extend .icon;
}

.icon-4-2 {
  background-position: -108px -107px;

  @extend .icon;
}

.icon-4-3 {
  background-position: -182px -108px;

  @extend .icon;
}

.icon-4-4 {
  background-position: -262px -107px;

  @extend .icon;
}

.icon-4-5 {
  background-position: -338px -107px;

  @extend .icon;
}

.icon-4-6 {
  background-position: -414px -107px;

  @extend .icon;
}

.icon-4-7 {
  background-position: -491px -107px;

  @extend .icon;
}

.icon-4-8 {
  background-position: -567px -107px;

  @extend .icon;
}

.icon-4-9 {
  background-position: -644px -107px;

  @extend .icon;
}

.icon-4-10 {
  background-position: -33px -450px;

  @extend .icon;
}

.icon-4-11 {
  background-position: -109px -450px;

  @extend .icon;
}

.icon-4-12 {
  background-position: -185px -450px;

  @extend .icon;
}

.icon-4-13 {
  background-position: -261px -450px;

  @extend .icon;
}

.icon-4-14 {
  background-position: -340px -450px;

  @extend .icon;
}

.icon-4-15 {
  background-position: -416px -450px;

  @extend .icon;
}

.icon-4-16 {
  background-position: -492px -450px;

  @extend .icon;
}

.icon-4-17 {
  background-position: -569px -450px;

  @extend .icon;
}

.icon-4-18 {
  background-position: -644px -450px;

  @extend .icon;
}
