.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("./img/icons.png");
}

.icon-1-1 {
  @extend .icon;
  background-position: -32px -23px;
}

.icon-1-2 {
  @extend .icon;
  background-position: -108px -22px;
}

.icon-1-3 {
  @extend .icon;
  background-position: -184px -23px;
}

.icon-1-4 {
  @extend .icon;
  background-position: -262px -23px;
}

.icon-1-5 {
  @extend .icon;
  background-position: -338px -23px;
}

.icon-1-6 {
  @extend .icon;
  background-position: -414px -23px;
}

.icon-1-7 {
  @extend .icon;
  background-position: -491px -23px;
}

.icon-1-8 {
  @extend .icon;
  background-position: -567px -23px;
}

.icon-1-9 {
  @extend .icon;
  background-position: -644px -23px;
}

.icon-2-1 {
  @extend .icon;
  background-position: -32px -107px;
}

.icon-2-2 {
  @extend .icon;
  background-position: -108px -107px;
}

.icon-2-3 {
  @extend .icon;
  background-position: -182px -108px;
}

.icon-2-4 {
  @extend .icon;
  background-position: -262px -107px;
}

.icon-2-5 {
  @extend .icon;
  background-position: -338px -107px;
}

.icon-2-6 {
  @extend .icon;
  background-position: -414px -107px;
}

.icon-2-7 {
  @extend .icon;
  background-position: -491px -107px;
}

.icon-2-8 {
  @extend .icon;
  background-position: -567px -107px;
}

.icon-2-9 {
  @extend .icon;
  background-position: -644px -107px;
}

.icon-3-1 {
  @extend .icon;
  background-position: -32px -192px;
}

.icon-3-2 {
  @extend .icon;
  background-position: -108px -192px;
}

.icon-3-3 {
  @extend .icon;
  background-position: -184px -193px;
}

.icon-3-4 {
  @extend .icon;
  background-position: -261px -192px;
}

.icon-3-5 {
  @extend .icon;
  background-position: -338px -193px;
}

.icon-3-6 {
  @extend .icon;
  background-position: -412px -192px;
}

.icon-3-7 {
  @extend .icon;
  background-position: -491px -192px;
}

.icon-3-8 {
  @extend .icon;
  background-position: -567px -192px;
}

.icon-3-9 {
  @extend .icon;
  background-position: -644px -192px;
}

.icon-4-1 {
  @extend .icon;
  background-position: -32px -277px;
}

.icon-4-2 {
  @extend .icon;
  background-position: -106px -277px;
}

.icon-4-3 {
  @extend .icon;
  background-position: -182px -278px;
}

.icon-4-4 {
  @extend .icon;
  background-position: -261px -277px;
}

.icon-4-5 {
  @extend .icon;
  background-position: -336px -277px;
}

.icon-4-6 {
  @extend .icon;
  background-position: -414px -277px;
}

.icon-4-7 {
  @extend .icon;
  background-position: -491px -277px;
}

.icon-4-8 {
  @extend .icon;
  background-position: -567px -277px;
}

.icon-4-9 {
  @extend .icon;
  background-position: -644px -277px;
}

.icon-5-1 {
  @extend .icon;
  background-position: -33px -366px;
}

.icon-5-2 {
  @extend .icon;
  background-position: -109px -366px;
}

.icon-5-3 {
  @extend .icon;
  background-position: -185px -366px;
}

.icon-5-4 {
  @extend .icon;
  background-position: -261px -366px;
}

.icon-5-5 {
  @extend .icon;
  background-position: -340px -366px;
}

.icon-5-6 {
  @extend .icon;
  background-position: -416px -366px;
}

.icon-5-7 {
  @extend .icon;
  background-position: -492px -366px;
}

.icon-5-8 {
  @extend .icon;
  background-position: -569px -366px;
}

.icon-5-9 {
  @extend .icon;
  background-position: -644px -366px;
}

.icon-6-1 {
  @extend .icon;
  background-position: -33px -450px;
}

.icon-6-2 {
  @extend .icon;
  background-position: -109px -450px;
}

.icon-6-3 {
  @extend .icon;
  background-position: -185px -450px;
}

.icon-6-4 {
  @extend .icon;
  background-position: -261px -450px;
}

.icon-6-5 {
  @extend .icon;
  background-position: -340px -450px;
}

.icon-6-6 {
  @extend .icon;
  background-position: -416px -450px;
}

.icon-6-7 {
  @extend .icon;
  background-position: -492px -450px;
}

.icon-6-8 {
  @extend .icon;
  background-position: -569px -450px;
}

.icon-6-9 {
  @extend .icon;
  background-position: -644px -450px;
}

.icon-7-1 {
  @extend .icon;
  background-position: -33px -535px;
}

.icon-7-2 {
  @extend .icon;
  background-position: -109px -535px;
}

.icon-7-3 {
  @extend .icon;
  background-position: -185px -535px;
}

.icon-7-4 {
  @extend .icon;
  background-position: -261px -535px;
}

.icon-7-5 {
  @extend .icon;
  background-position: -340px -535px;
}

.icon-7-6 {
  @extend .icon;
  background-position: -416px -535px;
}

.icon-7-7 {
  @extend .icon;
  background-position: -492px -535px;
}

.icon-7-8 {
  @extend .icon;
  background-position: -569px -534px;
}

.icon-7-9 {
  @extend .icon;
  background-position: -644px -535px;
}

.icon-8-1 {
  @extend .icon;
  background-position: -32px -620px;
}

.icon-8-2 {
  @extend .icon;
  background-position: -109px -620px;
}

.icon-8-3 {
  @extend .icon;
  background-position: -185px -620px;
}

.icon-8-4 {
  @extend .icon;
  background-position: -263px -620px;
}

.icon-8-5 {
  @extend .icon;
  background-position: -340px -620px;
}

.icon-8-6 {
  @extend .icon;
  background-position: -416px -620px;
}

.icon-8-7 {
  @extend .icon;
  background-position: -492px -620px;
}

.icon-8-8 {
  @extend .icon;
  background-position: -569px -620px;
}

.icon-8-9 {
  @extend .icon;
  background-position: -644px -620px;
}

.icon-9-1 {
  @extend .icon;
  background-position: -32px -705px;
}

.icon-9-2 {
  @extend .icon;
  background-position: -109px -705px;
}

.icon-9-3 {
  @extend .icon;
  background-position: -186px -705px;
}

.icon-9-4 {
  @extend .icon;
  background-position: -261px -705px;
}

.icon-9-5 {
  @extend .icon;
  background-position: -338px -705px;
}

.icon-9-6 {
  @extend .icon;
  background-position: -415px -705px;
}

.icon-9-7 {
  @extend .icon;
  background-position: -492px -705px;
}

.icon-9-8 {
  @extend .icon;
  background-position: -569px -705px;
}

.icon-9-9 {
  @extend .icon;
  background-position: -644px -705px;
}

.icon-10-1 {
  @extend .icon;
  background-position: -32px -790px;
}

.icon-10-2 {
  @extend .icon;
  background-position: -109px -790px;
}

.icon-10-3 {
  @extend .icon;
  background-position: -186px -791px;
}

.icon-10-4 {
  @extend .icon;
  background-position: -261px -790px;
}

.icon-10-5 {
  @extend .icon;
  background-position: -338px -791px;
}

.icon-10-6 {
  @extend .icon;
  background-position: -415px -791px;
}

.icon-10-7 {
  @extend .icon;
  background-position: -492px -791px;
}

.icon-10-8 {
  @extend .icon;
  background-position: -569px -791px;
}

.icon-10-9 {
  @extend .icon;
  background-position: -644px -790px;
}