@import "../shared/todo.variables";

.todo-form {
  width: $todo-width;
  max-width: $todo-max-width;

  font-size: 17px;
  
  .mat-form-field {
    display: inline-flex;
    align-items: center;
  }
}
