<mat-form-field class="todo-form" appearance="outline">
  <mat-label>What needs to be done?</mat-label>
  <input matInput type="text" placeholder="Todo..." color="primary" 
  [ngModel]='title'
  (ngModelChange)='onTitleChange($event)'
  (keydown.enter)='onAdd()'>
  <div class="todo-form__buttons" matSuffix>
    <button mat-icon-button color="primary" 
    (click)='onAdd()' 
    [disabled]='!canAdd'>
      <mat-icon class="todo-form__icon todo-form__icon_add">add</mat-icon>
    </button>
    <button mat-icon-button color="warn"
    (click)='onClear()' 
    [disabled]='isEmptyTitle()'>
      <mat-icon class="todo-form__icon todo-form__icon_close">close</mat-icon>
    </button>
  </div>
</mat-form-field>