.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1.7rem 3.6rem 1.3rem 3.6rem;

  font-weight: bold;
  font-size: $font-size-button;
  line-height: $font-size-button;
  color: lighten($text-color-default, $title-lighten);
  text-transform: uppercase;
  text-decoration: none;

  border: 3px solid lighten($text-color-default, $title-lighten);
  border-radius: 40rem;

  &_send {
  }

  &_get-started {
  }
}
