.header {
  &__wrapper {
    position: relative;

    display: flex;
    height: 100vh;

    background-color: rgba($bg-color-header, 0.8);


    @media screen and (min-width: map-get($breakpoints, desktop)) {
      background-color: $bg-color-header;
    }
  }

  &__logo {
    display: none;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      position: absolute;
      left: 20%;
      top: 20px;
      text-shadow: 0.5px 0.5px 0 white;
      font-size: $font-size-logo;
      display: block;
      color: lighten($text-color-default, $title-lighten);
    }
  }

  &__image-container {
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      position: relative;
      z-index: 2;

      flex: 1 0 35%;
    }

    @media screen and (min-width: map-get($breakpoints, large-desktop)) {
      flex-basis: 50%;
    }
  }

  &__image {
    @include -ie-object-fit;
    @include -object-fit;
  }

  &__main {
    position: relative;

    display: flex;
    height: 100%;

    @media screen and (min-width: map-get($breakpoints, large-desktop)) {
      flex-basis: 50%;
    }
  }

  &__menu {
    position: absolute;
    z-index: 2;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      top: 4rem;
      left: 8rem;
    }
  }

  &__burger-label {
    top: 10px;
    right: 10px;
  }

  &__preview {
    align-self: center;
    padding: 4.8rem;
  }

  &__sup-title {
    margin-bottom: 2.9rem;

    font-size: $font-size-sup-title;
    color: lighten($text-color-default, $text-lighten);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
  }

  &__title {
    margin-top: 0;

    @include title-typography ;
  }

  &__title-logo {
    font-weight: 500;
  }

  &__text {
    margin-bottom: 6rem;

    @include text-typography;

    @media screen and (max-width: map-get($breakpoints, desktop)) {
      color: lighten($text-color-default, 30%);
    }
  }
}
