@import "menu-mobile";
@import "menu-tablet";

.menu {
  &__link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    font-weight: 700;
    font-size: $font-size-navigation;
    color: lighten($text-color-default, 30%);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $text-color-alt;
    }
  }
}
