.progress-bar {
  display: flex;

  font-size: $font-size-progress-bar;

  &__title {
    font-weight: map-get($font-weight, black);
    color: lighten($text-color-default, $title-lighten);

    &_frontend {
      flex-basis: 90%;

      text-transform: capitalize;
    }

    &_backend {
      flex-basis: 70%;

      text-transform: none;
    }

    &_html {
      flex-basis: 80%;

      text-transform: uppercase;
    }

    &::after {
      content: "";

      display: block;
      height: 0.21rem;
      margin-top: 1.1rem;

      background-color: lighten($text-color-default, $title-lighten);
    }
  }

  &__percents {
    flex-grow: 1;

    text-align: right;
    color: $text-color-primary;

    &::after {
      content: "";

      display: block;
      height: 0.18rem;
      margin-top: 1.1rem;

      background-color: $text-color-primary;
    }
  }
}
