.quotes {
  color: $text-color-primary;

  @media screen and (max-width: map-get($breakpoints, tablet) - 1) {
    font-size: 0.85em;
  }

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 360px;

    text-align: center;

    background-color: rgba(lighten(black, 15%), 0.8);

    @media screen and (orientation: landscape) {
      height: 70vh;
    }

    @media screen and (orientation: portrait) {
      height: 40vh;
    }

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      height: 45vh;
      min-height: 300px;
    }

    @media screen and (min-width: map-get($breakpoints, tablet)) and (orientation: portrait) {
      height: 28vh;
      min-height: 300px;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      max-height: 400px;
    }
  }

  &__image-container {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__main {
    z-index: 1;

    box-sizing: border-box;
    width: 95%;
    max-height: 420px;
    padding: 4.8rem 0;
    overflow: hidden;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      width: 78%;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      width: 56%;
    }
  }

  &__image {
    @include object-fit(35%, 50%, 0.6);

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      @include object-fit(30%, 50%, 1);
    }
  }

  &__icon {
    width: 1em;
    margin: 0 auto;

    font-size: 3em;
    font-family: $font-family-icons;

    &_star::before {
      content: "\f005";
    }

    &:hover {
      color: $bg-color-primary;
    }
  }

  &__title {
    margin-top: 2.8rem;
    margin-bottom: 4rem;

    @include title-typography($font-size-title - 1.2em, $line-height-title + 0.3em);
  }

  &__text {
    display: inline-block;
    max-width: 95%;
    margin: 0;

    color: lighten($text-color-default, $text-lighten);

    @include text-typography($font-size-text, $line-height-text - 0.7em);

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      max-width: 85%;
    }
  }
}
