<ng-container *ngIf='!todoService.isLoading; else loader'>
  <mat-action-list class="todo-list" *ngIf='todoList.length; else emptyList'>
    <ng-container *ngFor='let todo of todoList; let last = last'>
      <app-todo-item 
      [todo] = 'todo' 
      [isEditMode]='isEditMode(todo.id)' 
      (check)='checkTodo($event, todo)' 
      (remove)='removeTodo($event, todo)'
      (toggleEditMode)='toggleEditMode($event, todo)'>
      </app-todo-item>
      <mat-divider *ngIf='!last'></mat-divider>
    </ng-container>
  </mat-action-list>
</ng-container>