
html {
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-size: 1.6rem;
  color: #666d89;

  background-color: #f2f2f2;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: #666d89;
  text-decoration: none;
}

a:hover {
  color: #383e55;
}

ul {
  list-style: none;
}

h1 a:hover {
  margin: 0;

  color: #666d89;
  text-decoration: none;
}

.navigation {
  position: sticky;
  top: 0;

  font-weight: 500;
  line-height: 2.8rem;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;

  background-color: #9ea5be;
}

.navigation__sub-menu {
  position: absolute;

  display: none;
  padding-left: 0;
}


.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navigation-container a {
  padding: 0 0.5rem;
}

.navigation-container li:hover .navigation__sub-menu {
  display: block;

  background-color: #9ea5be;
}

.logo {
  margin: 1rem 0;

  text-align: center;
  white-space: nowrap;
}

section {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  border-bottom: 0.6rem solid white;
}

main section:last-child {
  border-bottom: none;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;

  font-size: 2.6rem;
  text-transform: capitalize;
}

p {
  margin: 0;

  line-height: 2.4rem;
}

.columns-2 p {
  column-count: 2;
  column-gap: 3rem;
}

.columns-3 p {
  column-count: 3;
  column-gap: 3rem;
}

.background {
  background-image: url("./assets/img/beautiful-background.jpg");
  background-repeat: repeat;
}

.danger-block {
  text-align: center;
}

.danger-block h2 {
  color: #dc3545;
}

.danger-block h2::before {
  content: "⚠️";
}

.danger-block h2::after {
  content: "⚠️";
}

.cat-stories img {
  max-height: 20rem;
  margin-top: 0.8rem;
  margin-right: 1rem;
  margin-left: 1.4rem;
}

.cat-stories__title {
  margin-bottom: 0;

  text-align: center;
  color: orange;
}

.cat-stories__title::before {
  content: "🐈";
}

.cat-stories__title::after {
  content: "🐈";
}

.cat-stories section {
  padding-top: 2.6rem;
  padding-bottom: 0;

  border-bottom: none;
}

.cat-stories__regular-cat h2 {
  font-weight: 400;
}

.cat-stories p {
  display: flex;
}

.cat-stories__bold-cat {
  font-weight: bold;
  text-align: right;
}

.cat-stories__bold-cat p {
  flex-direction: row-reverse;
}

.cat-stories__italic-cat {
  font-style: italic;
  font-weight: 300;
}

.cat-stories__italic-cat h2 {
  font-weight: 300;
}

footer {
  height: 2rem;
  padding: 1rem;

  text-align: center;
  color: #666d89;

  background-color: #9ea5be;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
