
html {
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-size: 1.6rem;
  color: #666d89;

  background-color: #f2f2f2;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo__link {
  color: #666d89;
  text-decoration: none;
}

.logo__link:hover {
  margin: 0;

  color: #666d89;
  text-decoration: none;
}

.navigation {
  position: sticky;
  top: 0;

  font-weight: 500;
  line-height: 2.8rem;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;

  background-color: #9ea5be;
}

.navigation__sub-menu {
  position: absolute;

  display: none;
  padding-left: 0;

  list-style: none;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  list-style: none;
}

.navigation__link {
  padding: 0 0.5rem;

  color: #666d89;
  text-decoration: none;
}

.navigation__link:hover {
  color: #383e55;
}

.navigation__item:hover .navigation__sub-menu {
  display: block;

  background-color: #9ea5be;
}

.logo {
  margin: 1rem 0;

  text-align: center;
  white-space: nowrap;
}

.content {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  border-bottom: 0.6rem solid white;
}

.content_gratitude {
  border-bottom: none;
}

.content__title {
  margin-top: 0;
  margin-bottom: 2rem;

  font-size: 2.6rem;
  text-transform: capitalize;
}

.content__text {
  margin: 0;

  line-height: 2.4rem;
}

.content_columns-2 .content__text {
  column-count: 2;
  column-gap: 3rem;
}

.content_columns-3 .content__text {
  column-count: 3;
  column-gap: 3rem;
}

.content_background {
  background-image: url("./assets/img/beautiful-background.jpg");
  background-repeat: repeat;
}

.content_danger-block {
  text-align: center;
}

.content_danger-block .content__title {
  color: #dc3545;
}

.content_danger-block .content__title::before {
  content: "⚠️";
}

.content_danger-block .content__title::after {
  content: "⚠️";
}

.content_cat-stories .content__title {
  margin-bottom: 0;

  text-align: center;
  color: orange;
}

.content_cat-stories .content__title::before {
  content: "🐈";
}

.content_cat-stories .content__title::after {
  content: "🐈";
}

.cat-story {
  padding-top: 2.6rem;
  padding-bottom: 0;

  border-bottom: none;
}

.cat-story__text {
  display: flex;
  margin: 0;

  line-height: 2.4rem;
}

.cat-story__title {
  margin-top: 0;
  margin-bottom: 2rem;

  font-size: 2.6rem;
  text-transform: capitalize;
}

.cat-story_regular-cat .cat-story__title {
  font-weight: 400;
}

.cat-story_bold-cat {
  font-weight: bold;
  text-align: right;
}

.cat-story_bold-cat .cat-story__text {
  flex-direction: row-reverse;
}

.cat-story_italic-cat {
  font-style: italic;
  font-weight: 300;
}

.cat-story_italic-cat .cat-story__title {
  font-weight: 300;
}

.cat-story__img {
  max-height: 20rem;
  margin-top: 0.8rem;
  margin-right: 1rem;
  margin-left: 1.4rem;
}

.footer {
  height: 2rem;
  padding: 1rem;

  text-align: center;
  color: #666d89;

  background-color: #9ea5be;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
