@import "devices/menu-mobile";
@import "devices/menu-tablet";

.menu {
  &__link {
    padding-right: 1.45rem;
    padding-left: 1.45rem;

    font-weight: map-get($font-weight, bold);
    font-size: $font-size-navigation;
    color: lighten($text-color-default, 30%);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $text-color-alt;
    }
  }
}
