/*Typography*/
@mixin title-typography($font-size: $font-size-title, $line-height: $line-height-title) {
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family-primary;
}

@mixin text-typography($font-size: $font-size-text, $line-height: $line-height-text) {
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family-primary;
}

@mixin object-fit($top: 50%, $left: 50%, $scale: 1) {
  position: absolute;
  top: $top;
  left: $left;

  min-width: 100%;
  min-height: 100%;

  transform: translateX(-50%) translateY(-#{$top}) scale(#{$scale});
}
