/*Colors*/
$text-color-default: black;
$title-lighten: 14%;
$text-lighten: 60%;
$text-color-primary: white;
$text-color-alt: #e4ae58;
$bg-color-header: #f0e2d7;
$bg-color-menu: #f0e2d7;
$bg-color-default: #ffffff;
$bg-color-primary: #e4ae58;
$bg-color-secondary: #e9714c;
$bg-color-tertiary: black;
/*Breakpoints*/
$breakpoints: (
  tablet: 740px,
  desktop: 1110px,
  large-desktop: 1480px,
  extra-large-desktop: 2100px
);
$block-max-width: 3840px;
$block-max-height: $block-max-width * 9 / 16;
/*Font*/
$font-family-primary: "Bw Surco", sans-serif;
$font-family-icons: "FontAwesome";
$font-size-sup-title: 1.1em;
$font-size-button: 1.2em;
$font-size-navigation: 1.2em;
$font-size-progress-bar: 1.2em;
$font-size-logo: 1.8em;
$font-size-text: 1.6em;
$font-size-title: 3.2em;
$line-height-title: 1.2em;
$line-height-text: 2em;
