$text-color: #5b5b5b;
$day-color-checked: #3ea1f0;
$day-text-color-checked: white;
$today-color: #3ea1f0;
$bg-color: #f5f5f5;

$primary-font-weight: 400;
$secondary-font-weight: 700;

$primary-font-family: 'Open Sans', sans-serif; 