$text-color: darken(#595959, 8%);
$bg-color-day-checked: #3ea1f0;
$color-text-day-checked: white;
$color-today: #3ea1f0;
$bg-color-calendar: #f5f5f5;
$font-weight-primary: 400;
$font-weight-secondary: 700;
$font-weight-tertiary: 300;
$font-family-primary: "Open Sans", sans-serif;
$width-calendar: 27rem;

@mixin day-cell {
  display: flex;
  flex: 1 1 14%;
  justify-content: center;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1em;
}

.calendar {
  display: block;
  width: $width-calendar;
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
  overflow: hidden;

  font-weight: $font-weight-primary;
  font-size: 1.6em;
  line-height: 1em;
  font-family: $font-family-primary;
  color: $text-color;

  background-color: $bg-color-calendar;
  border: 1px solid lighten($text-color, $amount: 30%);
  border-radius: 4px;

  user-select: none;

  &__control-panel {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 1.4rem;
    padding: 0.1rem;
  }

  &__date-label {
    font-weight: $font-weight-tertiary;
    font-size: 1.3em;
    line-height: 1.2em;
  }

  &__control-buttons {
    position: relative;
    z-index: 1;

    display: flex;

    border: 0.1rem solid lighten($text-color, 35%);
    border-radius: 0.2rem;

    @mixin cross-line {
      content: "";
      position: absolute;
      z-index: 1;

      display: block;
      width: 0.1rem;
      height: 100%;

      background-color: lighten($text-color, 35%);
    }

    &:before {
      left: 33.33%;

      @include cross-line;
    }

    &:after {
      right: 33.33%;

      @include cross-line;
    }
  }

  &__control-button {
    position: relative;
    z-index: 0;

    width: 2.5rem;
    height: 100%;
    padding: 0;

    font-size: 0.9em;
    font-family: "FontAwesome";
    color: $text-color;

    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &:focus {
      box-shadow: 0 0 0.1rem 0.1rem $color-today;
    }

    &_back {
      border-radius: 0.2rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::before {
        content: "\f0d9";
      }
    }

    &_next {
      border-radius: 0.2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &::before {
        content: "\f0da";
      }
    }

    &_now {
      font-size: 0.75em;
      &::before {
        content: "\f133";
      }
      &:focus {
        box-shadow: none;;
      }

      &:hover .calendar__button-tip {
        opacity: 1;

        transition: opacity 0s 0.7s ease;
      }
    }

    &:active {
      background-color: #e9e9e9;
      border-radius: 0;
      box-shadow: 0 0 0.2rem 0 lighten($text-color, 40%) inset;
    }
  }

  &__button-tip {
    position: absolute;
    top: 122%;
    left: -150%;
    z-index: 10;

    box-sizing: border-box;
    width: 10rem;
    padding: 0.4rem 0;

    font-size: 1.16em;
    font-family: $font-family-primary;
    color: white;

    background-color: transparentize(black, 0.1);
    border-radius: 0.3rem;
    opacity: 0;

    pointer-events: none;
  }

  &__carousel {
    width: $width-calendar * 3;

    white-space: nowrap;

    transform: translateX(-$width-calendar);

    transition: none;

    will-change: transform;

    &_animated {
      transition: transform 0.2s;
    }

    &_shift {
      &_right {
        transform: translateX(0);
      }
      &_left {
        transform: translateX(-2 * $width-calendar);
      }
    }
  }

  &__month {
    display: inline-flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: $width-calendar;
    padding: 0 0.6rem;
  }

  &__day-button {
    align-items: center;

    font-weight: $font-weight-primary;
    font-family: $font-family-primary;
    color: $text-color;

    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;

    @include day-cell;

    &:before {
      content: "";

      float: left;
      padding-top: 100%;
    }

    &:focus {
      color: $color-text-day-checked;

      background-color: $bg-color-day-checked;
    }

    &_out-month {
      color: lighten($text-color, 40%);

      &:focus {
        color: $text-color;

        background-color: transparent;
      }
    }

    &_today {
      font-weight: $font-weight-secondary;
      color: $color-today;
    }
  }

  &__weekday-label {
    margin-top: 1.6rem;
    margin-bottom: 0.4rem;

    font-weight: $font-weight-secondary;
    font-size: 0.8em;
    color: lighten($text-color, $amount: 15%);

    @include day-cell;
  }
}
