html {
  font-size: 10px; }

body {
  font-size: 1em; }

.calendar {
  display: block;
  width: 27rem;
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1em;
  font-family: "Open Sans", sans-serif;
  color: #454545;
  background-color: #f5f5f5;
  border: 1px solid #919191;
  border-radius: 4px;
  user-select: none; }
  .calendar__control-panel {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 1.4rem;
    padding: 0.1rem; }
  .calendar__date-label {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.2em; }
  .calendar__control-buttons {
    position: relative;
    z-index: 1;
    display: flex;
    border: 0.1rem solid #9e9e9e;
    border-radius: 0.2rem; }
    .calendar__control-buttons:before {
      left: 33.33%;
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      width: 0.1rem;
      height: 100%;
      background-color: #9e9e9e; }
    .calendar__control-buttons:after {
      right: 33.33%;
      content: "";
      position: absolute;
      z-index: 1;
      display: block;
      width: 0.1rem;
      height: 100%;
      background-color: #9e9e9e; }
  .calendar__control-button {
    position: relative;
    z-index: 0;
    width: 2.5rem;
    height: 100%;
    padding: 0;
    font-size: 0.9em;
    font-family: "FontAwesome";
    color: #454545;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none; }
    .calendar__control-button:focus {
      box-shadow: 0 0 0.1rem 0.1rem #3ea1f0; }
    .calendar__control-button_back {
      border-radius: 0.2rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
      .calendar__control-button_back::before {
        content: "\f0d9"; }
    .calendar__control-button_next {
      border-radius: 0.2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .calendar__control-button_next::before {
        content: "\f0da"; }
    .calendar__control-button_now {
      font-size: 0.75em; }
      .calendar__control-button_now::before {
        content: "\f133"; }
      .calendar__control-button_now:focus {
        box-shadow: none; }
      .calendar__control-button_now:not(:active):hover .calendar__button-tip {
        opacity: 1;
        transition: opacity 0s 0.7s ease; }
    .calendar__control-button:active {
      background-color: #e9e9e9;
      border-radius: 0;
      box-shadow: 0 0 0.2rem 0 #ababab inset; }
  .calendar__button-tip {
    position: absolute;
    top: 120%;
    left: -3.4rem;
    z-index: 10;
    box-sizing: border-box;
    width: 9rem;
    padding: 0.4rem 0;
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem 0 black;
    opacity: 0;
    pointer-events: none; }
  .calendar__carousel {
    width: 81rem;
    white-space: nowrap;
    transform: translateX(-27rem);
    transition: none;
    will-change: transform; }
    .calendar__carousel_animated {
      transition: transform 0.2s; }
    .calendar__carousel_shift_right {
      transform: translateX(0); }
    .calendar__carousel_shift_left {
      transform: translateX(-54rem); }
  .calendar__month {
    display: inline-flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 27rem;
    padding: 0 0.6rem; }
  .calendar__day-button {
    align-items: center;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #454545;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    display: flex;
    flex: 1 1 14%;
    justify-content: center;
    padding: 0; }
    .calendar__day-button:before {
      content: "";
      float: left;
      padding-top: 100%; }
    .calendar__day-button:focus {
      color: white;
      background-color: #3ea1f0; }
    .calendar__day-button_out-month {
      color: #ababab; }
      .calendar__day-button_out-month:focus {
        color: #454545;
        background-color: transparent; }
    .calendar__day-button_today {
      font-weight: 700;
      color: #3ea1f0; }
  .calendar__weekday-label {
    margin-top: 1.6rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
    font-size: 0.8em;
    color: #6b6b6b;
    display: flex;
    flex: 1 1 14%;
    justify-content: center;
    padding: 0; }

/*# sourceMappingURL=style.css.map */
