@import "./base/normalize";
/*Abstract*/
@import "./abstract/variables";
@import "./abstract/mixins";
/*Components*/
@import "./components/header";
@import "./components/menu/menu";
@import "./components/progress-bar";
@import "./components/about";
@import "./components/features-list";
@import "./components/quotes";
@import "./components/button";

html {
  font-size: 5px;

  scroll-behavior: smooth;

  @media screen and (min-width: map-get($breakpoints, tablet)) {
    font-size: 10px;
  }
}

body {
  max-width: $block-max-width;
  margin: 0 auto;

  font-size: 10px;
  font-family: $font-family-primary;
}
